<nav class="sidebar bg-light">
  <ul class="nav flex-column">
    <li class="nav-item"><a class="nav-link" href="{% url 'laboratoire_dashboard' %}"><i class="fa fa-home menu-icon"></i> Tableau de bord</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'commandes_tests' %}"><i class="fa fa-tasks menu-icon"></i> Commandes de tests</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'resultats_a_soumettre' %}"><i class="fa fa-upload menu-icon"></i> Résultats à soumettre</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'messagerie_laboratoire' %}"><i class="fa fa-envelope menu-icon"></i> Messagerie</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'notifications_laboratoire' %}"><i class="fa fa-bell menu-icon"></i> Notifications</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'profil_laboratoire' %}"><i class="fa fa-user-cog menu-icon"></i> Profil</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-sign-out menu-icon"></i> Déconnexion</a></li>
  </ul>
</nav> 