<nav class="sidebar bg-light">
  <ul class="nav flex-column">
    <li class="nav-item"><a class="nav-link" href="{% url 'medecin_dashboard' %}"><i class="fa fa-home menu-icon"></i> Tableau de bord</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'rendez_vous_list' %}"><i class="fa fa-calendar menu-icon"></i> Mes rendez-vous</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'patients_list' %}"><i class="fa fa-users menu-icon"></i> Mes patients</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'medecin_notes' %}"><i class="fa fa-sticky-note menu-icon"></i> Notes médicales</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'medecin_ordonnances' %}"><i class="fa fa-file-text menu-icon"></i> Ordonnances</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'medecin_messages' %}"><i class="fa fa-envelope menu-icon"></i> Messagerie</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'consultations_en_ligne' %}"><i class="fa fa-video-camera menu-icon"></i> Consultations en ligne</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'contacts_labo_pharma' %}"><i class="fa fa-address-book menu-icon"></i> Contacts utiles</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-sign-out menu-icon"></i> Déconnexion</a></li>
  </ul>
</nav> 