<nav class="sidebar bg-light">
  <ul class="nav flex-column">
    <li class="nav-item"><a class="nav-link" href="{% url 'pharmacien_dashboard' %}"><i class="fa fa-home menu-icon"></i> Tableau de bord</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'prescriptions_a_traiter' %}"><i class="fa fa-file-text menu-icon"></i> Prescriptions à traiter</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'stock_medicaments' %}"><i class="fa fa-medkit menu-icon"></i> Stock de médicaments</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'messagerie_pharmacien' %}"><i class="fa fa-envelope menu-icon"></i> Messagerie</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'notifications_pharmacien' %}"><i class="fa fa-bell menu-icon"></i> Notifications</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'profil_pharmacien' %}"><i class="fa fa-user menu-icon"></i> Profil</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-sign-out menu-icon"></i> Déconnexion</a></li>
  </ul>
</nav> 