{% extends 'base.html' %}
{% block title %}Mes disponibilités{% endblock %}
{% block content %}
<div class="container mt-4">
  <h3>Mes disponibilités</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Heure de début</th>
        <th>Heure de fin</th>
      </tr>
    </thead>
    <tbody>
      {% for dispo in disponibilites %}
      <tr>
        <td>{{ dispo.date }}</td>
        <td>{{ dispo.heure_debut }}</td>
        <td>{{ dispo.heure_fin }}</td>
      </tr>
      {% empty %}
      <tr><td colspan="3">Aucune disponibilité enregistrée.</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %} 