{% extends 'base.html' %}
{% load static %}

{% block title %}Détail Laboratoire{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Détail du Laboratoire</h4>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Nom :</strong> {{ laboratoire.nom }}</li>
                    <li class="list-group-item"><strong>Téléphone :</strong> {{ laboratoire.telephone }}</li>
                    <li class="list-group-item"><strong>Adresse :</strong> {{ laboratoire.adresse }}</li>
                    <li class="list-group-item"><strong>Date d'inscription :</strong> {{ laboratoire.date_inscription|date:'d/m/Y H:i' }}</li>
                </ul>
                <a href="{% url 'laboratoire_list' %}" class="btn btn-secondary mt-3">Retour à la liste</a>
            </div>
        </div>
    </div>
</div>
{% endblock %} 