{% extends 'base.html' %}
{% load static %}

{% block title %}Liste des Pharmaciens{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Liste des Pharmaciens</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nom Officine</th>
                                <th>Téléphone</th>
                                <th>Adresse</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pharmacien in pharmaciens %}
                            <tr>
                                <td>{{ pharmacien.nom_officine }}</td>
                                <td>{{ pharmacien.telephone }}</td>
                                <td>{{ pharmacien.adresse }}</td>
                                <td>
                                    <a href="{% url 'pharmacien_detail' pharmacien.pk %}" class="btn btn-primary btn-sm">Détails</a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4" class="text-center">Aucun pharmacien trouvé</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 